
$gg-row-outer-height: 56px;
$gg-bar-padding: 11px;
$gg-bar-height: ($gg-row-outer-height - ($gg-bar-padding * 2));

$gg-row-outer-height-for-thinner: 44px;
$gg-bar-padding-for-thinner: 8px;
$gg-bar-height-for-thinner: ($gg-row-outer-height-for-thinner - ($gg-bar-padding-for-thinner * 2));

$gg-row-label-width: 300px;
$gg-header-height: 40px;

$gg-off-white: #f1f2f6;
$gg-stroke: #ddd;

.gpor-gantt {
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
    .gg-row-label {
        width: $gg-row-label-width;
        float: left;
        [class^="col-"] {
            float: left;
        }
        .col-expand-hide-clickable {
            width: 30px;
            text-align: center;
        }
        .col-graphic {
            width: 60px;
            text-align: center;
            display: flex;
            align-items: center;
            img {
                max-height: 80%;
            }
        }
        .col-text {
            width: calc(100% - 90px);
        }
        .gpor-gantt-mobile & {
            width: 100%;
        }
    }
    .gg-row-sub-group .gg-row-label .col-graphic {
        display: block;
    }
    .gg-bar-outer {
        width: calc(100% - #{$gg-row-label-width});
        position: relative;
        float: left;
        padding: 0;
        .grid-line, .gg-head-cell {
            border-left: 1px solid rgba(180,180,180,0.4);
        }
        .gpor-gantt-mobile & {
            width: 100%;
            float: none;
        }
    }
    .gg-header {
        height: $gg-header-height;
        p {
            font-size: 12px;
        }
        .col-expand-hide-clickable {
            .icon {
                top: 11px;
                color: #888;
            }
        }
        .gg-row-label {
            height: $gg-header-height;
            [class^="col-"] {
                height: $gg-header-height;
            }
        }
        .gg-bar-outer {
            height: $gg-header-height;
            .gg-head-cell {
                height: $gg-header-height;
                position: absolute;
                top: 0;
                .text {
                    width: 100%;
                    text-align: center;
                    height: 20px;
                    overflow: hidden;
                    box-sizing: content-box;
                }
            }
        }
        .col-text, .text {
            margin: 0;
            padding: 12px 0 0;
        }
    }
    .col-expand-hide-clickable {
        .icon {
            position: relative;
            top: 18px;
            left: 2px;
            color: #aaa;
            .gpor-gantt-mobile & {
                left: auto;
                right: 7px;
            }
        }
        cursor: pointer;
        transition: background-color 0.1s linear;
        &:hover {
            background-color: $gg-off-white;
        }
    }
    .gg-row-outer {
        height: $gg-row-outer-height;
        border-bottom: 1px solid $gg-stroke;
        .gg-row-label {
            height: $gg-row-outer-height;
            [class^="col-"] {
                height: $gg-row-outer-height;
            }
            .col-graphic {
                .icon {
                    position: relative;
                    top: 12px;
                    &:before {
                        font-size: 18px;
                    }
                }
            }
            .col-text {
                font-size: 12px;
                padding: 15px 0 0;
                .tasks-text {
                    color: #999;
                }
            }
        }
        .gg-bar-outer, .gg-row {
            box-sizing: content-box;
        }
        .gg-bar-outer {
            height: $gg-row-outer-height;
            .gg-row {
                width: 100%;
                height: $gg-row-outer-height;
                .gg-bar {
                    position: absolute;
                    top: 0;
                    height: $gg-row-outer-height;
                    box-sizing: border-box;
                    .gg-bar-color {
                        border-radius: 100px;
                        position: absolute;
                        // left: $gg-bar-padding;
                        left: 0;
                        // width: calc(100% - #{($gg-bar-padding * 2)});;
                        width: 100%;
                        top: $gg-bar-padding;
                        height: $gg-bar-height;
                        overflow: hidden;
                        &.truncated-left {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                        &.truncated-right {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                        p {
                            color: #fff;
                            font-size: 11px;
                            word-spacing: -1px;
                            margin: (($gg-bar-height / 2) - 8px) 0 0 12px;
                            width: 1000px;
                        }
                    }
                }
            }
            .grid-line {
                position: absolute;
                top: 0;
                width: 0;
                height: 100%;
            }
        }
        &.gg-thinner {
            background-color: $gg-off-white;
            height: $gg-row-outer-height-for-thinner;
            .gg-row-label {
                height: $gg-row-outer-height-for-thinner;
                .col-text {
                    h3 {
                        margin-top: 14px;
                    }
                }
            }
            .gg-bar-outer {
                height: $gg-row-outer-height-for-thinner;
                .gg-row {
                    height: $gg-row-outer-height-for-thinner;
                    .gg-bar {
                        height: $gg-row-outer-height-for-thinner;
                        .gg-bar-color {
                            top: $gg-bar-padding-for-thinner;
                            height: $gg-bar-height-for-thinner;
                            //cursor: col-resize;
                            p {
                                margin-top: (($gg-bar-height-for-thinner / 2) - 8px);
                            }
                            .resize-handle {
                                cursor: e-resize;
                            }
                        }
                    }
                }
            }
        }
    }
    .gg-group-rows {
        transition: height 0.3s ease;
        height: 0;
        overflow: hidden;
        .gg-row-sub-group {
            .gg-row-sub-group-head-row {
                background-color: #e1e2ea;
                h3 {
                    font-weight: 600;
                }
            }
        }
    }
    .gg-mobile-info {
        width: 100%;
        border-bottom: 1px solid $gg-stroke;
        padding: 8px 0 6px;
        .mobile-info-row {
            width: 100%;
            height: 45px;
            padding-top: 10px;
        }
    }
    .columns-header-mobile {
        display: none;
        .gpor-gantt-mobile & {
            display: block;
            height: 45px;
            border-bottom: 1px solid $gg-stroke;
            .gg-bar-outer {
                position: relative;
                height: 100%;
                .gg-head-cell {
                    position: absolute;
                    text-align: center;
                    height: 100%;
                    border-color: #f2f2f2;
                    .text {
                        color: #777;
                        margin: 0;
                        padding: 5px 3px 0;
                        height: 100%;
                        font-size: 9px;
                    }
                }
            }
        }
    }
}
$gg-color-blue: #259af3 !default;
$gg-color-purple: #9C86E0 !default;
$gg-color-green: #00B944 !default;
$gg-color-pink: #f55a64 !default;
$gg-color-grey: #777 !default;

.gg-row-outer {
    .icon {
        color: $gg-color-grey;
    }
    .gg-bar-color, &.gg-bar-color {
        background-color: $gg-color-grey;
    }
}
.gg-blue {
    .icon {
        color: $gg-color-blue;
    }
    .gg-bar-color, &.gg-bar-color {
        background-color: $gg-color-blue;
    }
}
.gg-purple {
    .icon {
        color: $gg-color-purple;
    }
    .gg-bar-color, &.gg-bar-color {
        background-color: $gg-color-purple;
    }
}
.gg-green {
    .icon {
        color: $gg-color-green;
    }
    .gg-bar-color, &.gg-bar-color {
        background-color: $gg-color-green;
    }
}
.gg-pink {
    .icon {
        color: $gg-color-pink;
    }
    .gg-bar-color, &.gg-bar-color {
        background-color: $gg-color-pink;
    }
}
.gg-grey {
    .icon {
        color: $gg-color-grey;
    }
    .gg-bar-color, &.gg-bar-color {
        background-color: $gg-color-grey;
    }
}





.gg-bar-color {
    &.bg-black {
        background-color: #333;
    }
}



